body {
  height: 100vh;
  background: red;
}
h1 {
  animation: 2s rotation infinite linear;
  width: 200px;
}

@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
